li a:hover
{
    color:grey;
    background-color:white ;
}
li a.active{
    background-color:grey;
    color: black;
}
.Nav-right{
    float:right;
}
.title{
    color:red;
    font-weight: bold;
    font-size: large;
    }
    .names{
        color: red;
        font-size:x-large;
    }
    .h1{
        color: red;
        background-color: black;
        font-weight: bold ;
        text-shadow: -4px, 0px, 4px;
        text-align: center;
       }
       .border{
        border: 3px solid;
        border-style: dotted;
        background-image: linear-gradient(orange,indigo);
    }
    .home_background_forhomepage{
        background-image:url(home2.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    .home_background
    {
        background-image:url(bebzz.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width:auto;
    }
    .h2{
        color: white;
        text-decoration: wheat;
        text-shadow: white;
    }
    .table_info{
        color: white;
        font-size: x-large;
        text-shadow: white -4px,4px;
        text-align: center;
        font-weight: bolder;
    }
    .ul{
        display: block;
        color: wheat;
        float: inline-end;
        text-decoration: none;
        list-style-type: none;
        
    }
    ul li
     {
        display: block; 
        float: inline-start ;
        display: inline;
        padding: 5px;
        border: yellowgreen;
        margin: 5px;
        font-size: x-large;
        color: white;
        text-decoration: none;
        list-style-type: none;
        
    }
    .sign_in{
        color: red;
        
    }
    .tableinfo
    {
        color: white;
    }
    .logo img{
       width: auto;
       align-content: flex-start;
      
    }
    